@import "../../../components/styles/reset.styles.scss";
.content-card {
  margin-top: 200px;
  width: 100%;
  height: 200px;
  color: rgb(12, 12, 12);
  display: $screen-flexible;
  justify-content: $position-center;
  @media screen and (max-width: 700px) {
    margin-top: 50px;
  }
  .container-profile {
    height: 100%;
    display: $screen-flexible;
    @media Screen and (max-width: 700px) {
      flex-direction: column;
    }
    .profile {
      display: $screen-flexible;
      flex-direction: column;
      align-items: $position-center;
      justify-content: space-around;

      .image-profile {
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
      a {
        font-family: roboto-semi-bold-italic;
        &:hover {
          color: $color-hover;
          cursor: $cursor-hover;
        }
        @media Screen and (max-width: 700px) {
          font-size: 20px;
          color: $color-hover;
          &:hover {
            color: black;
          }
        }
      }
    }
    .content-repo {
      width: 430px;
      display: $screen-flexible;
      flex-direction: column;
      align-items: $position-center;
      justify-content: $position-center;
      font-family: roboto-bold-italic;
      @media Screen and (max-width: 700px) {
        width: 100%;
      }
      h1 {
        font-size: 22px;
        span {
          color: $color-hover;
        }
      }
    }
  }
  .container-btn {
    margin-top: 25px;
    width: 100%;
    height: 20%;
    display: $screen-flexible;
    justify-content: $positioning-at-the-end;
    @media Screen and (min-width: 360px) and (max-width: 375px) {
      display: block;
    }
    @media screen and (max-width: 320px) {
      flex-direction: column;
      height: 80px;
    }
    .button {
      @media Screen and (max-width: 700px) {
        height: 50px;
      }
      margin-right: 5px;
      width: 190px;
      border: 1px solid $color-hover;
      display: $screen-flexible;
      justify-content: $position-center;
      align-items: $position-center;
      &:hover {
        color: white;
        background-color: $color-hover;
        cursor: $cursor-hover;
      }
    }
  }
  .list-repo {
    @media screen and( max-width: 800px) {
      display: none;
    }
  }
}
