@font-face {
  font-family: roboto-italic;
  src: url("../../../assets/fonts/Roboto_Mono/static/RobotoMono-ExtraLightItalic.ttf");
}

@font-face {
  font-family: roboto-bold-italic;
  src: url("../../../assets/fonts/Roboto_Mono/static/RobotoMono-BoldItalic.ttf");
}
@font-face {
  font-family: roboto-semi-bold-italic;
  src: url("../../../assets/fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf");
}

$color-hover: rgb(19, 197, 182);
$cursor-hover: pointer;
$position-center: center;
$screen-flexible: flex;
$positioning-at-the-end: flex-end;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
